zstandard
ipykernel
chess
tqdm
pandas
isort
black
mypy
omegaconf
torch==2.2.2
transformers==4.39.3
wandb
scipy
flask
datasets
optimum==1.18.0
git+https://github.com/y0mingzhang/openai-api-cache.git
tiktoken